<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8" />
<title>Money</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.5/angular-locale_pt-br.js"></script>
  
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


  <!-- Other -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
  <script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
<script src="myApp.js"></script>  
<script src="myCtrl.js"></script>
<style> 
.md-datepicker-calendar-pane{
z-index: 1200}
</style>  
</head>

<body ng-app="myApp">

<div ng-controller="myCtrl" class="container-fluid">
<br/>
<br/>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crudModal" ng-click="addButtomPressed()">Adicionar</button>
<br/>
<br/>
<br/>
<table class="table table-condensed table-hover table-striped">
  <thead>
	<tr>
	  <th>Id</th>
	  <th>Data</th>
	  <th>Categoria</th>	  
	  <th>Valor (R$)</th>
	</tr>
  </thead>
  <tbody>
	  <tr ng-repeat="e in expenses">
		<td>{{ e.id }}</td>
		<td>{{ e.date | date:'dd/MM/yyyy'}}</td>
		<td>{{ e.category.name }}</td>		
		<td>{{ e.value | currency}}</td>
		
		<td>
		                
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-edit" ng-click="updateButtomPressed(e)" title="Edit" data-toggle="modal" data-target="#crudModal"></i>
                        <i class="btn glyphicon glyphicon-trash" ng-click="deleteButtomPressed(e)" title="Delete" data-toggle="modal" data-target="#crudModal"></i>
                    </div>
                </div>
		</td>
		
	  </tr>
  </tbody>
</table>

<div id="crudModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">

	  <form novalidate class="css-form">
		<label>Data<md-datepicker ng-model="tempExpense.jsDate" md-placeholder="Insira a data" ng-disabled="modalDisabled"></md-datepicker></label><br/>		
		<label>Categoria
		<select name="repeatSelect" id="repeatSelect" ng-model="tempExpense.category" 
		        ng-options="option.name for option in categories track by option.id" ng-disabled="modalDisabled">
        </select>
	    </label><br/>
		<label>Valor (R$) <input type="text" ng-model="tempExpense.value" ng-disabled="modalDisabled"/></label>		
	  </form>	  
	  	  
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmButtomPressed(tempExpense)">{{modalConfirmButtomText}}</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>


</div>


</body>
</html>
